*{
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body {
  	margin: 0;
	overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 11px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 175, 250);
    border-radius: 5px;
}

div.cursor1{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 175, 250);
    border-radius: 50%;
  
    transform: translate(-50%, -50%);
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  
    pointer-events: none;
    transition: all 0.02s;
}
  
div.cursor2{
    width: 5px;
    height: 5px;
    background-color: rgb(0, 175, 250);
    border-radius: 50%;
  
    transform: translate(-50%, -50%);
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  
    pointer-events: none;
    transition: all 0.02s;
}
/* HEADER */
header{
	background-color: rgb(20, 0, 100);
	position: relative;
}
.spartans_span{
	font-family: 'Caveat', cursive;
	font-size: 35px;
}
.safaris_span{
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color:rgb(250, 20, 70);
}
header .home_link{
	text-decoration: none;
}
header .header-nav_1{
	display: flex;
	column-gap: 50px;
}
header .nav_links_2{
	color: white;
	padding: 7px;
	margin: 0;
	font-weight: 600;

	border-radius: 1000px;
}

header .language_img, .support_img{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}

header .header-nav-container-2 .active{
	background-color: rgb(250, 20, 70);
}

.profile_img{
	width: 25px;
}

.nav_links_2{
	text-decoration: none;
	position: relative;
}

.bookings{
	position: relative;
}
.booking_count{
	background-color: rgb(250, 20, 70);
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 18px;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: -25%;
	left: 97%;
}

.nav_links_2::after{
	content: "";
	width: 0;
	height: 2px;
	background-color: rgb(250, 20, 70);

	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);

	transition: all 0.4s;
}
.nav_links_2:hover::after{
	width: 80%;
}

.nav_links_info h2{
	font-weight: bold;
}
.nav_links_info p{
	letter-spacing: 1px;
	word-spacing: 1px;
	font-size: 19px;
}

.search_form{
	background-color: rgb(20, 0, 100);
	border: 1px solid transparent;
	border-radius: 1000px;

	position: absolute;
	top: 88%;
	left: 50%;
	transform: translateX(-50%);
}
.search_form form input[type="text"]:focus{
	outline: none;
}
.search_form .search_btn{
	border:rgb(0, 175, 250);
	border-radius: 0 1000px 1000px 0;
	transition: all 0.3s;
}

.search_form .destination_input{
	border: white;
	border-radius: 1000px 0px 0px 1000px;
}

.search_form .search_btn:hover{
	transform: scale(1.04);
}

/* MAIN */
.super_container{
	margin: 0;
	overflow-x: hidden;
}
.track_container{
	position: relative;
	width: 90%;
}

.track_container .slide_btn_left{
	width: 50px;
	height: 50px;
	cursor: pointer;

	position: absolute;
	top: 50%;
	left: -6%;
	transform: translateY(-50%);
	z-index: 100;
}
.track_container .slide_btn_right{
	width: 50px;
	height: 50px;
	cursor: pointer;

	position: absolute;
	top: 50%;
	right: -6%;
	transform: translateY(-50%);
	z-index: 100;
}


main h3{
	color: rgb(20, 0, 100);
	font-weight: bold;
}

.profile_info{
	display: flex;
	gap: 20%;
}

.dp_name img{
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
}

.fields_details{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10%;
}
.account_details{
	width: 500px;
}

.safari_card{
	overflow: hidden;
}

.top_accom_card .edit-btn{
	width: 23px;
	height: 23px;
	object-fit: cover;
}

.top_accom_card .accommodation_thumbnail{
	width: 200px;
	height: 200px;
	border-radius: 10px 10px 0 0;
	object-fit: cover;
}

.top_accom_card .delete-btn{
	width: 23px;
	height: 23px;
	object-fit: cover;
}

.safari_card .accommodation_thumbnail{
	width: 220px;
	height: 220px;
	border-radius: 10px 10px 0 0;
	object-fit: cover;
	transition: all 0.5s;
}
.safari_card:hover .accommodation_thumbnail{
	transform: scale(1.05);
}

.safari_card .edit-btn{
	width: 23px;
	height: 23px;
	object-fit: cover;
}

.safari_card .delete-btn{
	width: 23px;
	height: 23px;
	object-fit: cover;
}

/* Accomodation.jsx */
.accommodation_card{
	width: 70%;
}

.accommodation_card .accommodation_thumbnail{
	width: 100%;
	height: 50vh;
	border-radius: 10px;
	object-fit: cover;
}

.accommodation_location{
	position: relative;
}
.accommodation_location_img{
	width: 23px;
	height: 23px;
	object-fit: cover;

	position: absolute;
	top: 50%;
	left: 70%;
	transform: translateY(-50%);
}

.top_accommodation_location_img{
	width: 23px;
	height: 23px;
	object-fit: cover;

	position: absolute;
	top: 50%;
	left: -10%;
	transform: translateY(-50%);
}

.accommodation_card .comment-btn{
	width: 23px;
	height: 23px;
	object-fit: cover;
}

.accommodation_card .edit-btn{
	width: 23px;
	height: 23px;
	object-fit: cover;
}

.accommodation_card .delete-btn{
	width: 23px;
	height: 23px;
	object-fit: cover;
}

main .app_subscribe{
	display: grid;
	grid-template-columns: 39% 27% 25%;
	gap: 10px;
	justify-content: center;

	position: relative;
}

main .qr_code_div{
	display: grid;
	justify-content: center;
}
main .qr_code_div h6{
	text-align: center;
}

input.newsletter_mail_submit{
	color: white;
	background-color: rgb(250, 20, 70);
	border: 2px solid rgb(250, 20, 70);
	border-radius: 0 6px 6px 0;
}

main .socials img{
	width: 35px;
	height: 35px;
	object-fit: cover;
	transition: all 0.3s;
}
main .socials img:hover{
	transform: scale(1.2);
}


/* USER_LOG */
form.log_form{
	background-color: rgb(20, 0, 100);
	border-radius: 15px;
	width: 60vw;
}

.log_form input{
	width: 25vw;
	height: 31px;
	padding-left: 10px;
	border: none;
	border-radius: 6px;
}

.log_form input:focus{
	outline: none;
}

.log_inputs_div{
	position: relative;
}

.log_labels{
	position: absolute;
	top: 50%;
	left: 6%;
	padding: 0px 7px;
	cursor: auto;
	transform: translate(0, -50%);

	transition: all 0.5s;
}

.password_div{
	position: relative;
}
.password_div img{
	width: 25px;
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translateY(-50%);
}

.log_form input[type="submit"]{
	color: white;
	letter-spacing: 1.2px;
	font-weight: bold;
	background-color: rgb(8, 191, 133);
	width: 20vw;
	border: none;
	transition: all 0.4s;
}
.log_form input[type="submit"]:hover{
	transform: scale(1.1);
}

.log_p span{
	color: rgb(250, 20, 70);
	text-decoration: none;
}

/* FOOTER */
footer{
	background-color: rgb(20, 0, 100);
	bottom: 0;
}
footer .home_link{
	text-decoration: none;
}

footer ul{
	list-style-type: none;
}
footer ul li{
	padding: 0;
	margin: 0;
}
footer ul a{
	text-decoration: none;
	color: white;
}

footer div.copyright{
	color: white;
	background-color: rgb(250, 20, 70);
	width: 100%;
}
footer div.copyright p{
	font-size: 14px;
}

/* grid-tempelate */